.hero{
    transition: clip-path .5s;
    background: linear-gradient(180deg, rgba(0, 0, 0, .95) 20%, rgba(0, 0, 0, .45), rgba(0, 0, 0, .95) 80%), url(/images/parcelwall.webp) no-repeat;
    min-height: 90vh;
    width: 100vw;
    position: relative;
    background-position: center;
    background-size: 100% auto;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    font-style: normal;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.6);
    clip-path: polygon(100% 0%, 0% 0% , 0% 81.82%, 1% 81.82%, 2% 81.84%, 3% 81.87%, 4% 81.92%, 5% 81.97%, 6% 82.04%, 7% 82.12%, 8% 82.21%, 9% 82.31%, 10% 82.43%, 11% 82.55%, 12% 82.68%, 13% 82.83%, 14% 82.99%, 15% 83.15%, 16% 83.33%, 17% 83.51%, 18% 83.70%, 19% 83.90%, 20% 84.11%, 21% 84.33%, 22% 84.55%, 23% 84.78%, 24% 85.01%, 25% 85.25%, 26% 85.49%, 27% 85.74%, 28% 85.99%, 29% 86.24%, 30% 86.50%, 31% 86.76%, 32% 87.02%, 33% 87.28%, 34% 87.54%, 35% 87.79%, 36% 88.05%, 37% 88.31%, 38% 88.56%, 39% 88.81%, 40% 89.06%, 41% 89.30%, 42% 89.54%, 43% 89.78%, 44% 90.00%, 45% 90.23%, 46% 90.44%, 47% 90.65%, 48% 90.85%, 49% 91.04%, 50% 91.22%, 51% 91.40%, 52% 91.56%, 53% 91.72%, 54% 91.86%, 55% 92.00%, 56% 92.12%, 57% 92.24%, 58% 92.34%, 59% 92.43%, 60% 92.51%, 61% 92.58%, 62% 92.63%, 63% 92.67%, 64% 92.70%, 65% 92.72%, 66% 92.73%, 67% 92.72%, 68% 92.70%, 69% 92.67%, 70% 92.63%, 71% 92.57%, 72% 92.50%, 73% 92.42%, 74% 92.33%, 75% 92.23%, 76% 92.12%, 77% 91.99%, 78% 91.86%, 79% 91.71%, 80% 91.56%, 81% 91.39%, 82% 91.21%, 83% 91.03%, 84% 90.84%, 85% 90.64%, 86% 90.43%, 87% 90.21%, 88% 89.99%, 89% 89.76%, 90% 89.53%, 91% 89.29%, 92% 89.05%, 93% 88.80%, 94% 88.55%, 95% 88.30%, 96% 88.04%, 97% 87.78%, 98% 87.52%, 99% 87.26%, 100% 87.00%);
}
.hero:hover{
    transition: clip-path .5s;
    clip-path: polygon(100% 0%, 0% 0% , 0% 92.73%, 1% 92.72%, 2% 92.70%, 3% 92.67%, 4% 92.63%, 5% 92.57%, 6% 92.51%, 7% 92.43%, 8% 92.34%, 9% 92.23%, 10% 92.12%, 11% 92.00%, 12% 91.86%, 13% 91.72%, 14% 91.56%, 15% 91.39%, 16% 91.22%, 17% 91.04%, 18% 90.84%, 19% 90.64%, 20% 90.43%, 21% 90.22%, 22% 90.00%, 23% 89.77%, 24% 89.54%, 25% 89.30%, 26% 89.05%, 27% 88.81%, 28% 88.56%, 29% 88.30%, 30% 88.05%, 31% 87.79%, 32% 87.53%, 33% 87.27%, 34% 87.01%, 35% 86.75%, 36% 86.49%, 37% 86.24%, 38% 85.98%, 39% 85.73%, 40% 85.48%, 41% 85.24%, 42% 85.00%, 43% 84.77%, 44% 84.54%, 45% 84.32%, 46% 84.10%, 47% 83.90%, 48% 83.70%, 49% 83.50%, 50% 83.32%, 51% 83.15%, 52% 82.98%, 53% 82.83%, 54% 82.68%, 55% 82.55%, 56% 82.42%, 57% 82.31%, 58% 82.21%, 59% 82.12%, 60% 82.04%, 61% 81.97%, 62% 81.92%, 63% 81.87%, 64% 81.84%, 65% 81.82%, 66% 81.82%, 67% 81.82%, 68% 81.84%, 69% 81.87%, 70% 81.92%, 71% 81.97%, 72% 82.04%, 73% 82.12%, 74% 82.21%, 75% 82.31%, 76% 82.43%, 77% 82.55%, 78% 82.69%, 79% 82.83%, 80% 82.99%, 81% 83.16%, 82% 83.33%, 83% 83.51%, 84% 83.71%, 85% 83.91%, 86% 84.12%, 87% 84.33%, 88% 84.55%, 89% 84.78%, 90% 85.02%, 91% 85.25%, 92% 85.50%, 93% 85.75%, 94% 86.00%, 95% 86.25%, 96% 86.51%, 97% 86.76%, 98% 87.02%, 99% 87.28%, 100% 87.54%);
}

.heroContent{
    margin-bottom: 5vh
}

.heroButton{
    font-size: 1.25rem;
    background-color: var(--p3-yellow);
    color: var(--p3-black);
    border: none;
    border-radius: 5px;
    padding: .5rem .75rem;
    text-decoration: none;
    filter : drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
}

@media (max-width: 768px){
    .hero{
        font-size: 1.75rem;
    }
}