:root{
    --p3-yellow: rgb(246, 230, 0);
    --p3-black: rgb(5, 5, 5);
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--p3-yellow);
}

::-webkit-scrollbar-track {
    background-color: var(--p3-black);
}

